
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

body {
    height: 230vh;
    width: 100%;
    padding: 0px 100px;
    background-color: #fff;
    position: absolute;
}

.resume {
    height: 100%;
    width: 100%;
    display: flex;
 box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}


/* SIDEBAR AREA */
.sidebar {
    width: 20%;
    height: 100%;
    background-color: #17202A;
}

.sidebar .upper-col {
    height: 300px;
    width: 100%;
    position: relative;
}

.sidebar .upper-col section {
    height: 100%;
    width: 100%;
}



.sidebar .upper-col section img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.sidebar .over-lap {
    position: relative;
    height: 100px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 12;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
}

.sidebar .over-lap-con h1 {
    font-size: 25px;
}

.sidebar .over-lap .over-lap-con {
    z-index: 1200;
}

.sidebar .over-lap::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 320px;
    background: linear-gradient(0deg, #fff, #fff);
    top: 0;
    left: 0;
    z-index: -2;
}

.sidebar .second-col {
    height: 300px;
    color: #fff;
}

.second-col h1, .second-col p{
    color: #F16F53;
    text-align: center;
    padding: 20px 0px;
}

.second-col ul li {
    padding: 10px 0px;
    color: #777;
}

.sidebar .third-col h1 {
    color: #F16F53;
}

.sidebar .third-col {
    height: 250px;
    width: 100%;
    color: #fff;
}

.sidebar .third-col .container {
    margin: 30px 0px;
    height: 20px;
    background-color: #212121;
    border-radius: 10px;
    position: relative;
}

.sidebar .third-col .container .english {
    height: 100%;
    width: 85%;
    background-color: #F16F53;
    border-radius: 10px;
}

.sidebar .third-col .container .tagalog {
    height: 100%;
    width: 95%;
    background-color: #F16F53;
    border-radius: 10px;
}

.sidebar .third-col .container span {
    position: absolute;
    color: #777;
    top: -120%;
}

.sidebar .forth-col h1 {
    padding: 10px 0px;
    color: #F16F53;
}

.sidebar .forth-col p {
    color: #777;
}

.blackBg {
    padding: 40px 40px;
    height: auto;
}
/* MAIN BAR AREA*/
.mainbar {
    width: 80%;
    height: 100%;
    padding: 0px 30px;
    background-color: #D0D3D4;
}

.mainbar .first-col {
    height: 150px;
    padding: 30px 0px;
    ;
    position: relative;
}

.mainbar .first-col h1 {
    position: absolute;
    top: -5%;
    left: 5%;
    background-color: #D0D3D4;
}

.mainbar .first-col h1::after {
    position: absolute;
    content: '';
    height: 5px;
    width: 390px;
    ;
    background-color: #212121;
    top: 40%;
    right: -260%;
}

.mainbar .second-col {
    padding: 0px 60px;
}

.mainbar .second-col .box {
    display: flex;
    padding: 5px 10px;
    
}

.mainbar .second-col .box .number {
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
    font-size: 15px;
    font-weight: bold;
}

.mainbar .second-col .box .number span {
    color: #212121;
    font-weight: 400;
}

.mainbar .second-col .box img {
    background-color: #F16F53;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 10px;
}

.mainbar .third-col section{
display: flex;
flex-direction: column;
}

.mainbar .third-col #work-title{
padding: 20px 0px;
position: relative;
background-color:  #D0D3D4;
}

.mainbar .third-col #work-title::after{
position: absolute;
content: '';
height: 5px;
width: 60%;
background-color: #212121;
top: 50%;
right: 11%;
}

.mainbar .third-col .container{
display: flex;
width: 100%;
justify-content: center;

}

.mainbar .third-col .container .box{
height: 250px;
width: 350px;
position: relative;
text-align: center;
color: #777;
}


.mainbar .third-col .container .box ul{
text-align: left;
}

.mainbar .third-col .container .box ul li{
padding-top: 10px;
}

.mainbar .third-col .container .box h1, .mainbar .third-col .container .box h2{
font-size: 20px;
color: #F16F53;
}


.mainbar .third-col .container .right-box{
border-left: 5px solid black;
padding-left: 50px;
text-align: left;
}

.mainbar .third-col .container .right-box::after{
position: absolute;
content: '';
height: 30px;
width: 30px;
border-radius: 50%;
left: -4.7%;
background-color:#F16F53;
box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
top: 0; 
}

.mainbar .forth-col{
position: relative;

}

.mainbar .forth-col h1{
position: relative;
}

.mainbar .forth-col #educ::after{
position: absolute;
content: '';
height: 5px;
width: 65%;
background-color: #212121;
top: 50%;
left:25%;
}
.mainbar .forth-col .container{
display: flex;
justify-content: center;
}

.mainbar .forth-col .container .box{
height: 180px;
width: 350px;
text-align: center;
font-size: 13px;
}

.mainbar .forth-col .container h1, .mainbar .forth-col .container h2 {
color: #F16F53;
}

.mainbar .forth-col .container .right{
border-left: 5px solid;
position: relative;
padding-left: 40px;
}

.mainbar .forth-col .container .right::after{
position: absolute;
content: '';
height: 30px;
width: 30px;
border-radius: 50%;
left: -4.7%;
background-color:#F16F53;
box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
top: 0; 
}
.school{
    font-weight: bolder;
    font-size: 15px;
    color: #777;
}

@media all and (max-width: 1280px){
    .sidebar h1{
font-size: 16px;
}

    .mainbar h1{
font-size: 16px;
}

.sidebar .over-lap-con h1 {
    font-size: 16px;
}

.sidebar .over-lap-con p {
    font-size: 13px;
}

.sidebar .over-lap::after {
 width: 250px;
}


.second-col ul li {
    padding: 5px 0px;
    color: #777;
}

.mainbar .first-col h1::after {
    right: -360%;
}




.mainbar .forth-col .container .right::after{
left: -3.8%;
}

}
@media all and (max-width: 970px){

    .sidebar h1{
font-size: 14px;
}

    .mainbar h1{
font-size: 14px;
}

.sidebar .over-lap-con h1 {
    font-size: 14px;
}

.sidebar .over-lap-con p {
    font-size: 11px;
}

.sidebar .over-lap::after {
 width: 200px;
}


.second-col h1, .second-col p{
    color: #F16F53;
    text-align: center;
    padding: 10px 0px;
}

.second-col ul li {
    padding: 1px 0px;
    color: #777;
}

.sidebar .third-col .container .english {

font-size: 13px;
}

.sidebar .third-col .container .tagalog {
font-size: 13px;
}

    .mainbar h1 , .mainbar h2{
font-size: 14px;
}


.mainbar .first-col {
    height: 150px;
    padding: 10px 0px;
padding-top: 20px;
    position: relative;
}

.mainbar .first-col h1 {
    position: absolute;
    top: -5%;
    left: 5%;
    background-color: #D0D3D4;
}

.mainbar .first-col h1::after {
    position: absolute;
    content: '';
    height: 5px;
    width: 390px;
    background-color: #212121;
    top: 45%;
    right: -410%;
}

.mainbar .third-col #work-title::after{
position: absolute;
content: '';
height: 5px;
width: 60%;
background-color: #212121;
top: 50%;
left: 22%;
}


.mainbar .forth-col .container .right{
border-left: 5px solid;
position: relative;
padding-left: 50px;
}

body {
    height: 230vh;
    width: 100%;
    padding: 0px 100px;
    background-color: #fff;
    position: absolute;
}


}
.mainbar .forth-col .container .home a{
    border: 0px solid;
    background: #17202A;
    padding: 5px;
    color: #D0D3D4;
    text-decoration: none;
    border-radius: 6px;
    bottom: 60px;
    margin-left: 100vh;
    font-weight: bolder;
    
}
.mainbar .forth-col .container .home a:hover {
    background: #F16F53;
    color: #050101;
}
